* {
				margin:0px;
				padding:0px;
				font-family: 'Roboto', sans-serif;
			}
body
{
	background: gray;

}
	.container
	{
		padding: 0px;
		background: white;
	}
	.contactenos
	{
		background: #95917F;

	}
			.header
			{
				background: #DDD7CB;
			}
			.logo
			{
				width: 300px;
				background: #DDD7CB;
				padding:3% 2%;
			}
			#main-menu {
				margin:auto;
				width:90%;
				font-family:Arial, Helvetica, sans-serif;
			}
			
			#main-menu ul, ol {
				list-style:none;
				width: 100%;
				text-align: left;
			}
			
			.nav > li {
				float:left;
				width: 33.3%;
				text-align: center;
			}
			
			.nav li a {
				background-color:#ED9819;
				color:#fff;
				text-decoration:none;
				padding:10px 30px;
				display:block;
			}
			
			.nav li a:hover {
				background-color: #A30936;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;

			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}
			.col-xs-12>.img-responsive
			{
				position: static;
			}

			.header
			{
				position:fixed;
	z-index:1000;
	top:0;
	/*max-width:1000px;*/
	left:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);

			}
			.col-xs-12 img{
				width: 100%;
			}
			.col-xs-12
			{
				padding: 0px;
				
			}
			.col-xs-2 .img-responsive
			{
				width: 100%
			}
			.not-1
			{
				padding: 4%;
			}
			.foot img
			{
				width: 5%;
			}
			.col-xs-12
			{
				padding: 5%;
			}
			.valores
			{
				padding: 0% 5%;
			
			